h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}   


.cor-favorita {
    background-color: cadetblue;
}


ul {
    background-color: burlywood;
    line-height: 30px;
    text-decoration-line: underline;
}

p {
    font-weight: 600;
    font-size: 3em;
    font-style: italic;
    text-align: center;
}

body {
    font-size: 16px;
}

#yellow {
    color: yellow;
}

#red {
    color: red;
}

#brown {
    color: brown;
}